<% title "We design and build amazingly beautiful online stores that do your brand justice.Creating the sweet experience is our job- Home- Babel"%>
<div class = "nairobi">   
    <div class = "hero-unit">
	  <div class = "container">
	  	<% flash.each do |key,value| %>
		      <%= content_tag(:div, value, class: "alert alert-#{key}") %>
		    <%end%>
			<h1>We build high-end online stores.</h1>
			<h2>A beautiful fast online shop for you</h2>
			<%= link_to "Lets get started",new_customer_path, class: "btn btn-large btn-success"%>
	  </div>
	 </div>
</div>

<div class = "container marketing">
	   <h1 class = "hc">Engineering e-commerce,Why we did it</h1>
	   	<p class = "story">Challenging the status quo is easy,however coming up with an exquisite solution is hard.We therefore challenged ourselves to develop a solution that was easy to love and of course easy to use.We wanted to provide a balance for everything that you want to do and everything that you need to do.And just add the extra to the ordinary</p>
     <h1 class = "hc">Introducing BabelShop.</h1>
     <div class = "story">
     	<p>We build a beautiful creative store that does your brand identity justice! Amaze your customers with a great experience online powered by BabelShop.</p>
		<p>BabelShop acts as the core for your online store,making it both dazzling and smart to use.</p>
		<p>BabelShop has been engineered to be both exquisite on the inside and beautiful on the outside.</p>
		<p>Extend your reach,show,some love with your products through our software</p>
	</div>
		<h1 class= "hc">There's so much more than meets the eye when it comes to selling online.</h1>
		<div class = "story">
			<p>We worked hard to discover and provide consistent functionality for ecommerce  that is important for us.</p>
		<p>We pushed to design it beautifully and make it perform beautifully.From the amazing visual design,custom made for you,to the complex inner workings of the software.</p>
		<p>All the features you need and so much less of the hustle and bustle of e-commerce.</p>
	 </div>

<div class = "featurecontainer">
	<div class = "row-fluid marketing">
		<div class = "span6">
			<div class = "story">
			<p class = "hc">Beautifully designed custom themes</p>
			<p class = "hc">Secure shopping cart</p>
			<p class = "hc">Accept Mpesa and Credit cards</p>
		</div>
		</div>
		<div class = "span6">
			<div class = "story">
			<p class = "hc">Seamless Mobile integration</p>
			<p class= "hc">Amazing CMS that stays out of your way</p>
			<p class= "hc"> Robust Administrator Dashboard</p>
			
		</div>
		</div>
	</div>
</div>	
	<p class= "lead">Everything is right out of the box,we only need your awesomeness to fill in the gaps.</h3>
	<p class = "bc"><%= link_to "Lets get started",new_customer_path, class: "btn btn-large btn-success"%></p>
	
		<%= render 'layouts/footer'%>
</div>



