<div class ="otherpages">
	<div class= "basicstyling">
		<h1 class = "hc">How we work</h1>
		<p> We always start with the real content. </p>
		<p> We involve you from the very start.</p>
		<p>We need to get to know you and deepen our understanding of the context in which the project lives.</p>
		<p>  We depend on reliable methods of producing great results,with flexibility,speed and relevance.</p>
		<p> We do our work using an agile process.</p>
		<p> Our teams consists of great people.Artists,writers and engineers who work hand in hand to create amazing products.</p>
		<p> We do not design or engineer in the safety of our labs and hope that the solution will work.</p>
		<p> We use the most advanced and new technologies for what we do.</p>
		<p> Finally,we always sign our work and our signature is your hapiness.</p>
		
	</div>
</div>
