<% title "What we do"%>
<% meta_description "pushing for meaningful products"%>
<div class = "otherpages">
	<div class = "basicstyling">
		<h1 class = "hc"> What we do</h1>
		<p> We push for change in both your world and ours,"changing the world is a bit too abstract".</p>
		<p> We strive to create and push to elevate whatever we choose to do to a higher plane.</p>
		<p> We create wealth for you through meaningful digital products. </p>
		<p> We focus on the big picture while looking for that balance in art and engineering,(sticking to our zen thing).</p>
		<p> Yes you hired us,you are our customer,we listen to you and your customer as well<br>(and we may take their side sometimes,all we want is the best for you).</p>
		<p>We want to distort the "real world",some way,some how.</p>
		</div>



</div.>
	
	