<div class = "otherpages">
	<div class = "basicstyling">
		<h1 class = "hc">Why we do it</h1>
<p> We are artists and engineers.</p>
<p> We strive to make and create  the most robust and beautiful products.</p>

<p> We create in order to change our world and your world,because that is all that matters.</p>

<p>We constantly challenge ourselves to achieve and breakthrough whatever we have done in the past.</p>


<p> We create because we can.</p>
<p> We create because we want to.</p>
<p> We create because we love it.</p>

<p> And imagination for us remains...the only yardstick for objective truth.</p>

<p> And to keep our hearts and minds aflame with new and brilliant ideas we stick to 
<%= link_to "a strict work policy.",workpolicy_path%></p>
</div>
</div>