<% title "Why we do it"%>
<% meta_description " Our raison d'etre "%>
<div class = "otherpages">
	<div class = "basicstyling">
		<h1 class = "hc">Why we do it</h1>
<p> We are artists and engineers.</p>
<p> We strive to make and create  the most robust and beautiful products.</p>
<p> We create in order to change our world and your world,because that is all that matters.</p>
<p>We constantly challenge ourselves to achieve and breakthrough whatever we have done in the past.</p>
<p> We create because we can.</p>
<p> We create because we love to.</p>
<p>We create,to usher in a future brighter than anything we can imagine. With you,for us</p>
<p> Because imagination remains,the only yardstick for objective truth.</p>

<p> And to keep our hearts and minds aflame with new and brilliant ideas we stick to 
<%= link_to "a strict work policy.",workpolicy_path%></p>
</div>
</div>