<div class = "otherpages">
<div class = "basicstyling">
	<h1 class = "hc"> Guidelines for our work flow </h1>
	<p> We want you to feel free to talk to us,we want to listen to all your ideas and thoughts as well.<br>We believe everyone has an artistic and creative  perspective,though we will gladly do the heavy lifting for you.</p>
	<p> We are not suppliers or a traditional software and design shop.</p>
	<p> We know from experience in the past that the best and most amazing work happens in a committed relationship.</p>
	<p>Therefore,we will work with you as partners.</p>
	<p> We use our hard earned advanced technical and creative skill to create  amazing products,<br> that create wealth for you.Therefore invest in us.</p>
	
	<p> Trust us,you hired us to do something you cannot do and we are committed to do the best we can.</p>
</div>
</div>






