<footer>		
	
		<div class = "copy" >
			<p> &copy; 2013 Babel.</p>
			<p> &copy; 2011 Image by Muchiri Njenga(Studioang).The Amazing kind of photos we need to see of home</p>
	   </div>
</footer>