<header class = "navbar navbar-fixed-top navbar-inverse">
	<div class = "navbar-inner">
		<div class = "container">
			<%=link_to "Babel", root_path, id: "logo" %>
			<ul class = "nav pull-right">
				<li><%= link_to "WHY WE DO IT", why_path%>
				<li><%= link_to "WHAT WE DO",what_path%></li>
				<li><%= link_to "HOW WE WORK", how_path%></li>
			</ul>
		</div>
	</div>
</header>


